
    <p>Bonjour {{ firstName }} {{ name }},</p>
    <p>Nous vous remercions de nous avoir contactés</p>
    <p>Votre message fera l'objet d'une étude approfondie de notre part.</p>
    <p>Nous ne manquerons pas de revenir vers vous dans les meilleurs délais.</p>
    <p>Nous vous informons que nos délais de traitement pourront s'allonger en raison de la situation actuelle liée au Covid-19.</p>
    <p>Cordialement,</p>
    <p>La maison {{ etab }}</p>
